*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #3C4953;
}
.add-new{
    margin: 90px 0px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-new span{
 font-size: 21px;
 color: #ffffff;
}
.x{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 450px;
}
.line-1{
    width:24.2px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
    transform: rotate(-45deg) translate(-3px, -1px)
}
.line-2{
    width:24.2px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
    transform: rotate(45deg) translate(-3px, 1px);
}
.form{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 400px;
}
input{
    background-color: #ffffff;
    border-color: #8692A6;
    height: 63px;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 30px;
    font-size: 14px;
}
textarea{
    background-color: #ffffff;
    border-color: #8692A6;
    height: 153px;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 30px;
    font-size: 14px;
}
button{
    background-color: #30EFA6;
    border:none;
    height: 63px;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 30px;
    font-size: 16px;
}
